<app-menucustomer></app-menucustomer>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div class="panel">
  <div class="panel1">

     <mat-tab-group>
          <mat-tab label="History">
            <p>History</p>
        <br>
        <table mat-table [dataSource]="HistoryReviews" class="mat-elevation-z8">
    
          <ng-container matColumnDef="customerIDs">
            <th mat-header-cell *matHeaderCellDef> customerIDs </th>
            <td mat-cell *matCellDef="let element"> {{element.customerIDs}} </td>
          </ng-container>

          <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef> customerName </th>
              <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
            </ng-container>
    
          <ng-container matColumnDef="reviewLevel">
            <th mat-header-cell *matHeaderCellDef> reviewLevel </th>
            <td mat-cell *matCellDef="let element"> {{element.reviewLevel}} </td>
          </ng-container>
    
          <ng-container matColumnDef="commentReview">
            <th mat-header-cell *matHeaderCellDef> commentReview </th>
            <td mat-cell *matCellDef="let element"> {{element.commentReview}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
        </mat-tab> 
        </mat-tab-group>
    </div>


  <div class="panel2">
       <p>Review</p>
      <br>
    
      <p>เลือกรหัสของลุกค้า</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="customerIDs" [(ngModel)]="customerIDs" name="customerIDs" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let Customer of Customers" [value]="Customer.customerIDs">
            {{Customer.customerIDs}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  
   <p>เลือกชื่อของลุกค้า</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="customerName" [(ngModel)]="customerName" name="customerName" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let Customer of Customers" [value]="Customer.customerName">
            {{Customer.customerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p>เลือกวันที่รีวิวสินค้า
        <mat-form-field color="accent">
          <mat-label>Review Date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="reviewDate" [ngModelOptions]="{standalone: true}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>  
  </div>
</div>
